.all {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.container-search {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px;
  width: 1200px;
}

.icon {
  background-color: rgb(175, 107, 24);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 10px;
}

.btn-icon {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(175, 107, 24);
  background-color: rgb(175, 107, 24);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
}

#input-field {
  padding-left: 40px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
}

.button-search {
  position: absolute;
  height: 30px;
  width: 35px;
  left: 1px;
  border: none;
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

#main-data {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px 50px;
}

.container-data {
  display: inline-flex;
  height: 90px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgb(165, 163, 160);
  border-color: rgb(17, 16, 16);
  margin: 10px 5px 10px 6px;
  padding: 5px 2px 5px 5px;
}

.container-image {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
}

.avatar {
  height: 90px;
  width: 80px;
  margin-top: 15px;
  border-radius: 50%;
  background-color: aliceblue;
  float: left;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 100px;
  width: 110px;
}

.btn-edit {
  height: 25px;
  width: 25px;
  background-color: rgb(165, 163, 160);
  font-size: medium;
  border: none;
}

.btn-delete {
  height: 25px;
  width: 25px;
  background-color: rgb(165, 163, 160);
  font-size: medium;
  border: none;
}

.button {
  display: inline-flex;
  margin: 5px;
  background-color: rgb(165, 163, 160);
  margin-left: 10px;
}

p {
  text-align: left;
  margin: 3px 0px;
  font-size: 13px;
}

@media screen and (max-width: 1000px) {
  .container-search {
    padding: 20px;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
  }

  #main-data {
    margin-top: 60px;
  }
}

@media screen and (max-width:470px) {
  .container-search {
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  /* #input-field {
    padding-left: 30px;
    height: 30px;
    width: 70vw;
  } */
}



@media screen and (max-width: 160px) {

  .container-search {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
  }

  #main-data {
    padding: 0px;
    display: block;
    text-align: center;
    margin-top: 50px;
  }
}

/* ini landing page add */
.container {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-add {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: 150px 0px 0px 0px;
  width: 70%;
}

.input-add {
  margin: 5px 0px;
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
}

.btn-add {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.btn-save {
  width: 47%;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: rgb(182, 159, 33);
  text-decoration: none;
}

.p-add {
  text-align: center;
  color: white;
  text-decoration: none;
}

.input {
  width: 90%;
  margin: 5px 0px;
}

/* ini untuk avatar */

.body {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-edit {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 75%;
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
  margin-top: 10px;
}

h1 {
  text-align: center;
}

.h1-wrapper {
  background-color: whitesmoke;
  width: 100%;
}

.form-edit {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
  margin-bottom: 0px;
  padding: 10px 0px 0px;
  width: 100%;
}

.img-avatar {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
}

.avatar-label {
  font-size: inherit;
  margin: 0px 10px;
}

.form-control {
  width: 100%;
  margin: 0px 0px 0px 20px;
}

.container-preview {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
}

.preview {
  font-size: inherit;
  margin: 0px 10px;
  font-size: inherit;
}

.img-thumbnail {
  width: 50%;
  height: 50%;
  margin: 0px 0px 0px 10px;
  padding: .25rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  max-width: 100%;
  height: auto;
}

.save-cancel-edit {
  background-color: whitesmoke;
  width: 100%;
  display: inline-flex;
  padding: 10px 0px 10px 0px;
  margin: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
}

.button-save {
  margin: 0px 10px;
}

.button-submit {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin: 0px ;
}

.button-cancel {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #000000;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}